[submodule "egg-examples"]
	path = egg-examples
	url = https://github.com/eggjs/examples.git
[submodule "egg-sequelize"]
	path = egg-sequelize
	url = https://github.com/eggjs/egg-sequelize.git
[submodule "egg"]
	path = egg
	url = https://github.com/eggjs/egg.git
[submodule "egg-core"]
	path = egg-core
	url = https://github.com/eggjs/egg-core.git
